#contact iframe
{
    width: 100%;
}
.contact_1 h3
{
    display: inline;
}
.contact_1 a
{
    text-shadow: none;
}
 
input
{
    background: grey
}
.movie1{
    font-size: 20px;
    border-radius: 10px;
    width: 100%;
    padding-left: 10px;
    padding-right: 20px;
    margin-bottom: 20px;
    padding-top: 5px;
}
.movie1 span{
    padding-right:10px;
}
.movie1 i{
    float: right;
}
.star span{
    color:gold;
}
li{
    
    margin-top:12px;
}
li img{
    border-radius: 50px;
}